@model WebApp.Models.Account.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h1 class="text-center">Profile</h1>
@if (User.Identity.IsAuthenticated)
{
    <div class="ml-20p">
        <br />
        <div style="float: left">
            <img style="height: 270px; width: 250px;" src="@Model.Path" alt="@Model.Email" />
            <form class="mt-3" method="post" asp-action="ChangePath" enctype="multipart/form-data">
                <div>Change photo</div>
                <input class="mt-2" type="file" name="uploadedFile" /><br>
                <input name="path_" type="hidden" asp-for="Path" /><br />
                <div>
                    <input type="submit" value="Edit image" class="btn btn-sm btn-success" />
                </div>
            </form>
        </div>
        <div style="float: left;">
            <p>First Name: @Model.Firstname</p>
            <p>Second Name: @Model.Lastname</p>
            <p>Millde Name: @Model.Patronomic</p>
            <p>Email: @Model.Email</p>
            <p>Address: @Model.Address</p>
            <p>Postcode: @Model.Postcode</p>
            <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Edit">Edit</a>
            <a class="btn btn-sm btn-primary ml-3" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
        </div>
    </div>
}


