@model IEnumerable<WebApp.Models.Cart.CartDishesViewModel>
@{
    ViewBag.Title = "Cart";
}

<div class="row mb-5">

    <div class="col-12 shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>Cart</h3>
            </div>
            <div class="card-body">

                <div class="container">

                    @if (Model.Any())
                    {
                        <h6 class="text-center">
                            Update the quantity of each dish
                        </h6>
                        <br/>
                        <table class="table center">
                            <tr>
                                <th>Book</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Author</th>
                                <th>Price for one ($)</th>
                                <th>Number</th>
                                <th>Price per quantity</th>
                                <th></th>
                            </tr>

                            @foreach (var cartB in Model)
                            {
                                <tr style="font-size: 12px;">
                                    <td> <a asp-action="GetBookInfo" asp-controller="Book" asp-route-id="@cartB.BookId"> <img style="width: 60px; height: 60px;" src="@cartB.Path" /> </a> </td>
                                    <td>@cartB.Name</td>
                                    <td>@cartB.Code</td>
                                    <td>@cartB.Author</td>                                   
                                    <td>@cartB.Price</td>
                                    <td>
                                        <form method="post" asp-controller="Cart" asp-action="Update">
                                            <input type="hidden" name="bookCartId" value="@cartB.Id" />
                                            <input type="number" min="1" value="@cartB.Count" name="count" /><br/>
                                            <input type="submit" value="Update" class="btn btn-sm btn-primary text-center mt-2" style="margin-left: 20%;"/>
                                        </form>
                                    </td>

                                    <td>@Math.Round(cartB.Count * cartB.Price, 2).ToString("N2") $</td>
                                    <td>
                                        <form method="post" asp-action="Delete" asp-route-cartBookId="@cartB.Id">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <button onclick="if (!confirm('Are you sure you want to delete this Item?')) { return false }" class="btn btn-sm btn-danger">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </table>

                        <br class="col-10" />

                        <div>
                            <form method="post" asp-controller="Cart" asp-action="DeleteAll">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <button onclick="if (!confirm('Are you sure you want to delete this Items?')) { return false }" class="btn btn-sm btn-danger">
                                    Empty cart
                                </button>
                                <a class="btn btn-sm btn-success" asp-controller="Order" asp-action="Create">
                                    To order
                                </a>
                                <a class="btn btn-sm btn-warning" asp-controller="Book" asp-action="Index">
                                    Back to books
                                </a>
                                <h3 class="float-right">Total price: <span class="text-danger">@ViewData["FullPrice"].ToString()</span> $</h3>
                            </form>
                        </div>
                    }
                    else
                    {
                        <h2 class="text-center text-danger">
                            Cart is empty
                        </h2>
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>
</div>


